.modal-overlay {
    display: none;

    &--is-open {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(2, 22, 3, .80);
    }
}

.modal {
    position: relative;
    top: -10%;
    background-color: white;
    width: 524px;
    height: fit-content;
    border-radius: 20px;
    padding: 32px;
    margin: 12px;
    animation: modal-in 0.3s ease-out forwards;

    & div img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    &__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 24px;
    }

    &__title p {
        color: #021603f6;
    }

    &__close-button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__close-button i {
        color: #021603f6;

    }

    &--is-closed {
        animation: modal-out 0.3s ease-out forwards;
    }

    &__content {
        margin-top: 32px;

    }
    &__followers {
        list-style: none;
        text-decoration: none;
        color: #021603f6;
        display: flex;
        align-items: center;
        padding: 12px;
        gap: 12px;
        border-bottom: 1px solid lightgray;
    }
    &__followers:hover {
        color: green;
    }
    & a{
        text-decoration: none;
        color: inherit;
    }
    & a:hover{
        cursor: pointer;
        
    }
}

@keyframes modal-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modal-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}